<!DOCTYPE html>
            <html xmlns="http://www.w3.org/1999/xhtml">
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title>Application details</title>
                <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                <link href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
            </head>
            <body style="margin: 0; padding: 0; font-family: 'PT Sans', sans-serif; background-color: #f4f4f4;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="1200" style="margin: auto; color: #272B30; border-spacing:0 20px; font-size: 18px;">
                    <!--    Head Section 1 Start -->
                    <tr>
                        <td style="padding: 1.25rem 1.8rem; border: 1px solid #eee; border-radius: 8px !important; background-color: #fff;">
                        <table width="100%">
                            <tr>
                                <td>
                                    <h1 style="padding: 5px 0px; margin: 0; font-size: 28px;">Application details for {{ position }} {{ JOB_ID }} </h1>
                                </td>
                                <td>
                                    <div style="max-width: 100px; float: right; border: 1px solid #e5e4e4; border-radius: 16px; padding: 5px 5px 1px;">
                                    {{ AVATAR }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                    <!--    Head Section 1 End -->
                    <!--    Head Section 2 Start -->
                    <tr>
                        <td style="padding: 1.25rem 1.8rem; border: 1px solid #eee; border-radius: 8px !important; background-color: #fff;">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div >
                                    <p style="font-weight: 600; letter-spacing: -0.01em; color: #1A1D1F; margin: 0;">
                                        <span style="margin-right: 20px;"><i class="las la-user" style="color: #6c757d;"></i>&nbsp; {{ name }} {{ PROFILE_JOB_ID }} </span> 
                                        <span style="margin-right: 20px;"><i class="las la-briefcase" style="color: #6c757d;"></i>&nbsp; <a style="color: #1A1D1F;">{{ designation }}</a></span> 
                                        <span style="margin-right: 20px;"><i class="las la-phone" style="color: #6c757d;"></i>&nbsp; {{ phone }}</span><br style="display: block;"><br style="display: block;">
                                        <span style="margin-right: 20px;"><i class="las la-envelope" style="color: #6c757d;"></i>&nbsp; <a style="color: #1A1D1F;">{{ MAIL }}</a></span>
                                        <span style="margin-right: 0px;"><i class="las la-map-marker-alt" style="color: #6c757d;"></i>&nbsp; {{ CITY }} {{ COUNTRY }}</span>
                                    </p>
                                    </div>
                                </td>
                                <td style="border-left: 1px solid #e1d6d6; padding: 0 0px 0 25px;">
                                    <div style="display: flex; justify-content: space-between; place-items: center;">
                                    <p style="margin: 0;"><span style="color: #6c757d; line-height: 1.8;">Experience </span><br style="display: block;"> <span style="color: #00008b; font-weight: 600;">{{ EXPERIENCE }} yrs</span></p>
                                    <p style="margin: 0;"><span style="color: #6c757d; line-height: 1.8;">Matched</span><br style="display: block;"> <span style="color: #008000; font-weight: 600;">85%</span></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                    <!--    Head Section 2 End -->
                    <!--    Body Section 1 Start -->
                    <tr>
                        <td style="padding: 1.25rem 1.8rem; border: 1px solid #eee; border-radius: 8px !important; background-color: #fff;">
                        <table width="100%" style="border-bottom: 1px solid #eee; padding-bottom: 20px;">
                            <tr>
                                <td style="width: 38%; padding-right: 25px;">
                                    <p style="margin: 0;">
                                    <span style="background-color: #00008b; color: #fff; border: 5px solid #00008b; border-radius: 5px; margin: 0;">01</span>
                                    <span style="padding-left: 5px; line-height: 1.4; font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #272B30; margin: 0;">Matched on</span>
                                    <span style="line-height: 1.4; font-size: 20px; letter-spacing: -0.03em; color: #6c757d; margin: 0;">{{ MATCH_DATE }}</span>
                                    </p>
                                </td>
                                <td style="width: 62%; border-left: 1px solid #e1d6d6; padding: 0 0px 0 25px;">
                                    <p><span style="color: #008000; font-weight: 600;">85%</span>&nbsp;matched by system.</p>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" style="border-bottom: 1px solid #eee; padding-top: 20px; padding-bottom: 20px;">
                            <tr>
                                <td style="width: 38%; padding-right: 25px;">
                                    <p style="margin: 0;">
                                    <span style="background-color: #00008b; color: #fff; border: 5px solid #00008b; border-radius: 5px; margin: 0;">02</span>
                                    <span style="padding-left: 5px; line-height: 1.4; font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #272B30; margin: 0;">Contacted via {{ SHORTLIST_CONTACT }} on</span>
                                    <span style="line-height: 1.4; font-size: 20px; letter-spacing: -0.03em; color: #6c757d; margin: 0;">April 20, 2024</span>
                                    </p>
                                </td>
                                <td style="width: 62%; border-left: 1px solid #e1d6d6; padding: 0 0px 0 25px;">
                                    <p style="margin-top: 0;">Status :&nbsp;<span style="display: inline-block; padding: .25em .4em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25rem; color: #fff; background-color: #28a745;">Good</span></p>
                                    <p style="margin-bottom: 5px;"><span>Comment :</span></p>
                                    <p style="margin: 0;"><span style="color: #5a5a5a; font-weight: 100; font-size: 16px;">{{ SHORTLIST_COMMENT }}</span></p>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" style="border-bottom: 1px solid #eee; padding-top: 20px; padding-bottom: 20px;">
                            <tr>
                                <td style="width: 38%; padding-right: 25px;">
                                    <p style="margin: 0;">
                                    <span style="background-color: #00008b; color: #fff; border: 5px solid #00008b; border-radius: 5px; margin: 0;">03</span>
                                    <span style="padding-left: 5px; line-height: 1.4; font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #272B30; margin: 0;">Interview(Round-01) on</span><br style="display: block;">
                                    <span style="line-height: 1.4; font-size: 20px; letter-spacing: -0.03em; color: #6c757d; margin: 0;">{{ INTERVIEW_START_DATE }} | {{ INTERVIEW_START_TIME }} - {{ INTERVIEW_END_TIME }}</span>
                                    </p>
                                </td>
                                <td style="width: 62%; border-left: 1px solid #e1d6d6; padding: 0 0px 0 25px;">
                                    <p style="margin-top: 0;">Status :&nbsp;<span style="display: inline-block; padding: .25em .4em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25rem; color: #fff; background-color: #28a745;">Selected</span></p>
                                    <p style="margin-bottom: 5px;"><span>Evaluation :</span></p>
                                    <p style="margin: 0;"><span style="color: #5a5a5a; font-weight: 100; font-size: 16px;">{{ EVALUVATION }}</span></p>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" style="border-bottom: 1px solid #eee; padding-top: 20px; padding-bottom: 20px;">
                            <tr>
                                <td style="width: 38%; padding-right: 25px;">
                                    <p style="margin: 0;">
                                    <span style="background-color: #00008b; color: #fff; border: 5px solid #00008b; border-radius: 5px; margin: 0;">04</span>
                                    <span style="padding-left: 5px; line-height: 1.4; font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #272B30; margin: 0;">Verified on</span>
                                    <span style="line-height: 1.4; font-size: 20px; letter-spacing: -0.03em; color: #6c757d; margin: 0;">May 30, 2024</span>
                                    </p>
                                </td>
                                <td style="width: 62%; border-left: 1px solid #e1d6d6; padding: 0 0px 0 25px;">
                                    <p style="margin-top: 0; line-height: 1.8;">
                                    <span style="font-weight: 100; font-size: 16px; color: #666;">Verfication ID: </span> <span style="color: #000;">#3435</span>
                                    <span style="padding-left: 20px; font-weight: 100; font-size: 16px; color: #666;">Verfication package: </span> <span style="color: #000;">Premium</span>
                                    <span style="padding-left: 20px; font-weight: 100; font-size: 16px; color: #666;">Verification fee: </span> <span style="color: #000;">₹ 5000/-</span>
                                    <span style="padding-left: 0px; font-weight: 100; font-size: 16px; color: #666;">Verification status: </span> <span style="display: inline-block; padding: .25em .4em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25rem; color: #fff; background-color: #28a745;">Completed</span>
                                        <span style="padding-left: 20px; font-weight: 100; font-size: 16px; color: #666;">Verification Result: </span> <span style="color: #28a745;">Pass</span>
                                    </p>
                                    <p style="margin-bottom: 5px;"><span>Requested background checks :</span></p>
                                    <div style="line-height: 2.5;">
                                    <span style="background: #f0f0f0; padding: 8px 13px 8px; border: 2px solid #ccc; border-radius: 50px; font-size: 12px; font-weight: 500; color: #333; margin-right: 7px;">Pancard verification</span>
                                    <span style="background: #f0f0f0; padding: 8px 13px 8px; border: 2px solid #ccc; border-radius: 50px; font-size: 12px; font-weight: 500; color: #333; margin-right: 7px;">Education verification</span>
                                    <span style="background: #f0f0f0; padding: 8px 13px 8px; border: 2px solid #ccc; border-radius: 50px; font-size: 12px; font-weight: 500; color: #333; margin-right: 7px;">Adhaar card verification</span>
                                    <span style="background: #f0f0f0; padding: 8px 13px 8px; border: 2px solid #ccc; border-radius: 50px; font-size: 12px; font-weight: 500; color: #333; margin-right: 7px;">Employment verification</span>
                                    <span style="background: #f0f0f0; padding: 8px 13px 8px; border: 2px solid #ccc; border-radius: 50px; font-size: 12px; font-weight: 500; color: #333; margin-right: 7px;">Police verification</span>
                                    </div>
                                    <p style="margin-bottom: 5px;"><span>Verification activity :</span></p>
                                    <div>
                                    <ul style="padding-left: 30px;">
                                        <li style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
                                            <p style="font-size: 16px; margin: 0;">
                                                <span>
                                                <span>National criminal check completed</span>
                                                <span style="display: inline-block; padding: .25em .5em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 50px; color: #fff; background-color: #28a745;">Clear</span>
                                                </span>
                                                <span style="padding-left: 20px; float: right; color: #6c757d;">25 May 2024</span>
                                            </p>
                                            <p style="font-size: 14px; line-height: 1.5; margin-top: 10px;">This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space.</p>
                                        </li>
                                        <li style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
                                            <p style="font-size: 16px; margin: 0;">
                                                <span>
                                                <span>Education check completed</span>
                                                <span style="display: inline-block; padding: .25em .5em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 50px; color: #fff; background-color: #28a745;">Clear</span>
                                                </span>
                                                <span style="padding-left: 20px; float: right; color: #6c757d;">26 May 2024</span>
                                            </p>
                                            <p style="font-size: 14px; line-height: 1.5; margin-top: 10px;">This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space.</p>
                                        </li>
                                        <li style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
                                            <p style="font-size: 16px; margin: 0;">
                                                <span>
                                                <span>Pancard verification check completed</span>
                                                <span style="display: inline-block; padding: .25em .5em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 50px; color: #fff; background-color: #28a745;">Clear</span>
                                                </span>
                                                <span style="padding-left: 20px; float: right; color: #6c757d;">27 May 2024</span>
                                            </p>
                                            <p style="font-size: 14px; line-height: 1.5; margin-top: 10px;">This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space.</p>
                                        </li>
                                        <li style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
                                            <p style="font-size: 16px; margin: 0;">
                                                <span>
                                                <span>Address verification check completed</span>
                                                <span style="display: inline-block; padding: .25em .5em; font-size: 75%; font-weight: 600; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 50px; color: #fff; background-color: #28a745;">Clear</span>
                                                </span>
                                                <span style="padding-left: 20px; float: right; color: #6c757d;">28 May 2024</span>
                                            </p>
                                            <p style="font-size: 14px; line-height: 1.5; margin-top: 10px;">This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space.</p>
                                        </li>
                                        <li>
                                            <p style="font-size: 16px; margin-top: 0;">
                                                <span>
                                                <span>Verification completed and final report uploaded</span>                                       
                                                </span>
                                                <span style="padding-left: 20px; float: right; color: #6c757d;">30 May 2024</span>
                                            </p>
                                        </li>
                                    </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--    Footer Section 1 Start -->
                        <table width="100%" style="margin-top: 15px;">
                            <tr>
                                <td>
                                    <p style="margin: 0; font-size: 12px;">Date : 23 April 2024</p>
                                </td>
                                <td>
                                    <p align="right" style="font-size: 12px; width: 100%; margin: 0px;">Powered by <a>profileup.com</a></p>
                                </td>
                            </tr>
                        </table>
                        <!--    Footer Section 1 End -->
                        </td>
                    </tr>
                    <!--    Body Section 1 End -->
                </table>
            </body>
            </html>